#app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 170px;
    height: 330px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    opacity: 85%;
    padding-top: 22px;
}
  @media only screen and (max-width: 600px) {
    .swiper {
      width: 290px;
      height: 270px;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid white;
      opacity: 85%;
    }
  }
