.v-form input {
  padding: 7px 80px;
  border: 1px solid black;
  border-radius: 8px;
}
@media only screen and (max-width: 557px) {
  .v-form input {
    margin: 10px 30px;
  }
  .btn-res {
    padding: 10px 0px;
  }
}
