.v-form input {
  padding: 7px 80px;
  border: 1px solid black;
  border-radius: 8px;
}
@media only screen and (max-width: 557px) {
  .v-form input {
    margin: 10px 30px;
  }
  .btn-res {
    padding: 10px 0px;
  }
}

.PageNation {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 10px;
}

.PrevButton a,
.NextButton a {
  padding: 10px 20px;
  background-color: #63e6be;
  border-radius: 8px;
  color: black;
  width: 120px;
  text-align: center;
}

.PrevButton > a:hover,
.NextButton > a:hover,
.PageClass:hover {
  background-color: #099268;
  color: white;
  transition-duration: 200ms;
  cursor: pointer;
}

.PageClass > a,
.activePage > a {
  padding: 10px 20px;
  background-color: #63e6be;
  border-radius: 8px;
  color: black;
  text-align: center;
}

.activePage > a {
  background-color: #fd7e14;
}
.activePage > a:hover {
  background-color: #f76707;
}
