.dropdown-content{
    background-color: aqua;
}
.dropdown-content li{
    background-color: rgb(39, 235, 245);
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .dropdown-content li{
        background-color: rgb(39, 235, 245);
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }
    .dropdown-content{
        background-color: rgb(21, 238, 238);
    }
}
